body {
    margin: 0;
    border: border-box;
    font-family:'Courier New', Courier, monospace;
    background-image: url('./images/main-bgd.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 800px;
    margin: 40px;
    width: 36%;
    background-color: white;
    border: 2px solid rgb(0, 0, 0) 0.8;
    border-radius: 15px;
    box-shadow: 2px 2px 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-box {
    height: 400px;
    width: 93%;
    display: flex;
    flex-direction: column;
}

.form-box h3 {
    font-size: 1.1rem;
    font-weight: 600;
    padding-left: 8px;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form input {
    width: 50%;
}

.form-items {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 8px;
}

.result {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 800;
    margin: 15px;
    margin-left: 20%;
    height: 80px;
    width: 60%;
}

.form button {
    font-size: 1.5rem;
    font-weight: 600;
    width: 40%;
    height: 50px;
    margin-top: 20px;
    background-color: #273F4F;
    box-shadow: 2px 2px 8px black;
    border: none;
    border-radius: 8px;
    color: white;
    align-self: center;
}

.form button:active {
    transform: scale(0.95);
}

.bmi-guide{
    text-align: center;
}

.creator-info{
    width: 90%;
    height: 80px;
    margin-top: 20px;
    border: 1px solid black;
    box-shadow: 1px 1px 8px black;
    border-radius: 15px;
    padding: 8px 0px 8px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* for mobile interface */

@media screen and (max-width: 1093px){
    .container {
        width: 45%;
        margin: 20px auto;
        height: auto;
        font-size: 1rem;
    }

    .form input {
        width: 40%;
        font-size: 0.85rem;
    }
    .bmi-guide {
        font-size: 0.85rem;
    }
    .form button {
        width: 40%;
        height: 50px;
        font-size: 0.9rem;
    }
    .creator-info {
        width: 80%;
        height: auto;
        font-size: 0.8rem;
        margin: 20px 0px 15px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        align-self: center;
    }
}

@media screen and (max-width: 923px){
    body {
        background-image: url('./images/main-bgd-mobile.jpg');
        background-size: auto;
    }

    .container {
        width: 75%;
        margin: 20px auto;
        height: auto;
        font-size: 1rem;
    }
    .form input {
        width: 40%;
    }
    .creator-info {
        width: 80%;
        height: auto;
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        align-self: center;
    }
}

@media screen and (max-width: 443px) {
    body {
        background-image: url('./images/main-bgd-mobile.jpg');
        background-size: auto;
    }
    
    .container {
        width: 90%;
        margin: 20px auto;
        height: auto;
        font-size: 1rem;
    }

    .container h1 {
        font-size: 1.5rem;
    }

    .form-items {
        font-size: 0.85rem;
    }

    .form-box {
        width: 100%;
        height: auto;
    }

    .form-box h3{
        font-size: 0.8rem;
        margin-bottom: 10px;
    }

    .bmi-guide {
        width: 90%;
        height: auto;
        margin: 10px 0px 10px 0px;
        font-size: 0.75rem;
    }

    .result {
        width: 80%;
        height: auto;
        margin-left: 10%;
        font-size: 1rem;
    }

    .form button {
        width: 40%;
        height: 50px;
        font-size: 0.9rem;
        margin: 0px;
        margin-bottom: 12px;
    }

    .form input {
        width: 50%;
    }

    .creator-info {
        width: 80%;
        height: auto;
        margin: 20px 0px 15px 0px;
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        align-self: center;
    }
}
